# Example environment configuration for Support Ticket System
PROJECT_NAME=support_ticket_system
PROJECT_DOMAIN=localhost




SUPPORT_TICKETS_DB_USER=ticket_user
SUPPORT_TICKETS_DB_NAME=ticket_db
SUPPORT_TICKETS_DB_PASSWORD=ticket00
SUPPORT_TICKETS_DB_HOST=localhost
SUPPORT_TICKETS_DB_PORT=5432

# CORS
# Comma-separated values are supported, e.g. https://shop1.com,https://shop2.com
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_METHODS=*
CORS_ALLOWED_HEADERS=*
CORS_ALLOW_CREDENTIALS=true